/* variables */
$colorPrincipal:  rgb(225, 240, 240);

$mapaEstiloTitulos: (margin1: 50px, margin2: 50px, centrado: center, fondo: $colorPrincipal, radius: 20px) ;

@mixin backgroundPadding {
  background-color: $colorPrincipal;
  padding-right: 10px;
  padding-left: 10px;
  
}

*{
    margin: 0;
    padding: 0;
  }
  
@import "header";

  /*Css Index*/ 
 

  .d-flex{

    button {
        border: 1px solid rgb(206, 23, 13);
        color: black;
        &:hover{
            background-color: rgb(206, 23, 13);
            border: 1px solid rgb(206, 23, 13);
            color: black;
        }
    }

  }
  
  #grad {
    background: linear-gradient(to left, lightgray, grey);
  }
  .logotaller {
    width: 40px;
    
  }
  

ul {

    list-style: none;
    padding: 30px;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;


    ul {
        position: absolute;
        display: none;
      
    }

    li {
        display: block;
        &:hover {
            background-color: $colorPrincipal;
             border-radius: 20px;
        }
       &:hover ul {
        display: block;
        background-color: rgba(185, 22, 22, 0.842);
        margin: 0;
        padding: 0;
        border-radius: 20px;
       }
      
    }

    a {
        text-decoration: none;
        color: black;
    }
}


  li {
    display: inline-block;
    width: 150px;
    position: relative;
    font-size: 15px;
    
  }
  

  nav div a {
    text-decoration:none;
    list-style:none;
    color: black;
  
  }

  .dropdown-item:hover {
    border-radius: 20px;
  }


  .dropdown-item:active {
    background-color:rgba(206, 23, 13, 0.501) ;

  }
  
  body {
    background-color: $colorPrincipal;
    background-image: url(../assets/pared.jpeg);
    background-size: cover;
    
  }
  
  .hola1 {
    margin-top: 55px;
    width: 33%;
  }
  
  .hola2 {
    margin-top: 55px;
    width: 33%;
  }
  .hola3 {
    margin-top: 55px;
    width: 33%;
  }

  .textoImgOf{
    @include backgroundPadding;
  
  }
  
  .textoOfertas {
    grid-area: tituloO;
    background-color: map-get($mapaEstiloTitulos, fondo);
    margin-top:  map-get($mapaEstiloTitulos, margin1) ;
    margin-bottom:  map-get($mapaEstiloTitulos, margin2) ;
    text-align: map-get($mapaEstiloTitulos , centrado );
    border-radius: map-get($mapaEstiloTitulos , radius );
  
  }
  
  .ofertas {
   @include backgroundPadding;
    width: 290px;    
    padding-top: 10px;    
    padding-bottom: 10px;
    
  }
  
  .gridOfertas {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "tituloO tituloO tituloO" "cerveza fernet vino";
    justify-content: space-evenly;
    justify-items: center;
    text-align: center; 
    row-gap: 20px;
  
  }
  
  .andesIpa{
    grid-area: cerveza;
     
  }
  
  .fernet {
  grid-area: fernet;
  
  }
    
  .vinoRose {
  grid-area: vino;
  
  }
  
  footer {
    display: flex;
    margin-top: 330px;
    justify-content: center;
    background-color: $colorPrincipal;
    
  }
  
  /* Hasta aca es css de index*/
  
  /* Css Productos */

  .btn{
    background-color: lightgray;
    color: black;
    border: 1px solid rgb(206, 23, 13);
    margin-bottom: 10px;
    &:hover{
      background-color: rgb(206, 23, 13);
      border: 1px solid rgb(206, 23, 13);
     color: black;
    }
    &:active{
      background-color: darkred;
    }
  }

  .cervezaAndes {
    width: 150px;
  }
  
  
  .gridAndes {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "titulo titulo titulo" "andesipa andesrubia andesroja";
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    
  }
  
  .tituloSecctionAndes {
    grid-area: titulo;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color:  $colorPrincipal;  
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
      
  }
  
  .textoImagenAnd{
    background-color:  $colorPrincipal;  
    text-align: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    
    }
  
  .cervezaAndesIpa {
    grid-area: andesipa;
   
  }
  
  .cervezaAndesRubia{
    grid-area: andesrubia;
  
  }
  .cervezaAndesRoja{
    grid-area: andesroja;
   
  }
  
  .gridVinos {
    display: grid;
    margin-top: 50px;
    padding: 20px 20px 20px 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "titulov titulov titulov" "comahuemalbec comahuemerlot comauhuesauv" "fuerzablanco fuerzaprim chakana" "porvenir criosr criost";
    row-gap: 50px;
    justify-content: center;
    align-content: center;
    justify-items:center;
    align-items:center;
    
  }
  
  .tituloSecctionVinos {
    grid-area: titulov;
    background-color: $colorPrincipal; 
    margin-right: 800px;
    margin-left: 800px; 
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    text-align: center;
      
  }
  
  .textoImagenVin {
    @extend .textoImagenAnd;
    background-color: $colorPrincipal;     

  }
  
    .vinos {
      width: 150px;
    }
    
  .comahueMalbec {
  grid-area: comahuemalbec;
  }
  
  .comahueMerlot {
    grid-area: comahuemerlot;
   }
  
  .comahueSauv {
      grid-area: comahuesauv;
     }
  
  .laFuerzaBlanco {
    grid-area: fuerzablanco;
  
  }
  
  .laFuerzaPrim {
    grid-area: fuerzaprim;
  
  }
  
  .chakana {
    grid-area: chakana;
  
  }
  
  .porvenir{
    grid-area: porvenir;
  }
  
  .criosR{
    grid-area: criosr;
  }
  
  .criosT{
    grid-area: criost;
  }
  
  .gaseosas {
    width: 150px;
  }
  
  
  .gridGaseosas {
    display: grid;
    margin-top: 50px;
    padding: 20px 20px 20px 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "titulov titulov titulov" "comahuemalbec comahuemerlot comauhuesauv" "fuerzablanco fuerzaprim chakana" "porvenir criosr criost";
    row-gap: 50px;
    justify-content: center;
    align-content: center;
    justify-items:center;
    align-items:center;
    
  }
  
  .tituloSecctionGaseosas {
    grid-area: titulov;
    background-color: $colorPrincipal; 
    margin-right: 800px;
    margin-left: 800px; 
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    text-align: center;
      
  }
  
  .textoImagenGaseo {
    @extend .textoImagenAnd;
    background-color:  $colorPrincipal;  
   
    }
  
  
  .pepsiCom {
  grid-area: pepsicom;
  }
  
  .pepsiBlack {
    grid-area: pepsiblack;
   }
  
  .tonica {
      grid-area: tonica;
     }
  
  .sevenC {
    grid-area: sevencomun;
  
  }
  
  .sevenF {
    grid-area: sevenfree;
  
  }
  
  .mirinda {
    grid-area: mirinda;
  
  }
  
  .alcohol{
    width: 150px;
  }
  
  .gridAlcohol {
    display: grid;
    margin-top: 20px;
    padding: 20px 20px 20px 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "tituloA tituloA tituloA" "aperol campari carpano" "cynar fernetl whisky" "gina merle vodka";
    row-gap: 50px;
    justify-content: center;
    align-content: center;
    justify-items:center;
    align-items:center;
    
  }
  
  .tituloSecctionAlcohol {
    grid-area: tituloA;
    background-color: $colorPrincipal; 
    margin-right: 800px;
    margin-left: 800px; 
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    text-align: center;
      
  }
  
  .textoImagenAlcohol {
    @extend .textoImagenAnd;
    background-color: $colorPrincipal;      
    }
  
  
  .aperol {
  grid-area:aperol;
  }
  
  .campari {
    grid-area: campari;
   }
  
  .carpano {
      grid-area: carpano;
     }
  
  .cynar {
    grid-area: cynar;
  
  }
  
  .fenetL {
    grid-area: fernetl;
  
  }
  
  .whisky {
    grid-area: whisky;
  
  }
  
  .ginA{
    grid-area: gina;
  }
  
  .merle{
    grid-area: merle;
  }
  
  .vodka{
    grid-area: vodka;
  }
  
  /* hasta aca es css productos*/
  
  
  /* css promos*/
  
  .textoPromos {
    background-color: $colorPrincipal ;   
    text-align: center;
   
    }
    
  .tituloSecctionProm {
    grid-area: tituloP;
    background-color: $colorPrincipal; 
    margin-top: 200px;
    margin-right: 750px;
    margin-bottom: 50px;
    margin-left: 750px; 
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    text-align: center;
          
  }
  
  .gridPromo{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "tituloP tituloP tituloP" "promo1 promo2 promo3";
    justify-content: center;
    align-content: center;
    justify-items:center;
    align-items:center;
  }
  
  .textoPromos {
    background-color: rgb(225, 240, 240);   
    text-align: center;
   
    }
  
  
  .tituloSecctionProm {
    grid-area: tituloP;
    background-color: rgb(225, 240, 240); 
    margin-right: 750px;
    margin-left: 750px; 
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    text-align: center;
      
  }
  
  .promos {
      background-color: rgb(225, 240, 240);
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      width: 150px;
  }
  
  .promo1{
    grid-area: promo1;
  }
  
  .promo2{
    grid-area: promo2;
  
  }
  
  .promo3{
    grid-area: promo3;
  
  }
   /* hasta aca es css promos*/
  
  /* css combos*/
  
  .tituloSecctionComb {
    grid-area: tituloC;
    background-color: $colorPrincipal; 
    margin-top: 200px;
    margin-right: 750px;
    margin-bottom: 50px;
    margin-left: 750px; 
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    text-align: center;
   
      
  }
  
  .gridCombo {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto;
   grid-template-areas: "tituloC tituloC tituloC" "combo1 combo2 combo3";
   justify-content: center;
   align-content: center;
   justify-items:center;
   align-items:center;
   row-gap: 20px;
     
  }
  
  .textoImgComb {
    background-color: $colorPrincipal;  
    text-align: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    }
  
  .combos {
    width: 150px;
  }
  
  .combo1 {
    grid-area: combo1;
  
  }
  
  .combo2 {
    grid-area: combo2;
    
  }
  
  .combo3 {
    grid-area: combo3;
    
  }
    
  /* hasta aca es css combos*/
  
  /* css contacto*/

 .form1 {
      width: 85%;
      margin: 200px auto;
      background-color:  rgba(206, 23, 13, 0.501);
      border: 1px solid black;
      border-radius: 10px;
       
  }

  .col-12{
    button {
      background-color: $colorPrincipal;
      border: 1px solid rgb(206, 23, 13);
      color: rgb(0, 0, 0);

      &:hover{
          background-color: rgb(206, 23, 13);
          border:  rgb(206, 23, 13);
          color: black;
      }
  }

  }

  .gridForm{
    display: grid;
    width: 50%;
    margin: 0px auto;
    justify-content: center;
    justify-items: center;
    background-color: $colorPrincipal;
    grid-template-columns: auto;
    grid-template-rows: "auto auto auto auto" "auto";
    grid-template-areas: "p1" "p2" "p3" "p4" "logo";
    border: 1px dotted black;
    border-radius: 10px;
   
    
  }

  .p1{
    grid-area: p1;
    text-decoration: underline;
  }

  .p2{
    grid-area: p2;
    font-style: italic;

  }

  .p3{
    grid-area: p3;
    font-style: italic;

  }

  .p4{
    grid-area: p4;
    font-style: italic;

  }
  
  .logo{
    grid-area: logo;
    width: 30px;
  }

.icons{
  display: flex;
 margin-top: 30px;
  justify-content: center;
  
}

  .mapa{
    width: 50%;
    display: flex;
    margin: 40px auto;
  }
  /* hasta aca es css contacto*/
  
  @media screen and (min-width: 320px) {
  
    /* media queris index*/ 
  
  .hola1{
    width: 100%;
  }
  
  .hola2, .hola3{
  display: none;
  }
    
  
  .gridOfertas {
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto;
    grid-template-areas: "tituloO" "cerveza";
    justify-content: space-evenly;
    justify-items: center;
    text-align: center; 
  
  }
  /*hasta aca media queris index*/
  
  /* media queris productos */
  
  .gridAndes {
    display: grid;
    margin-top: 100px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "titulo" "andesipa";
    justify-items: center;
    align-items: center;
    
  }
  
  .gridVinos {
    display: grid;
    margin-top: 50px;
    padding: 20px 20px 20px 20px;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "titulov" "comahuemalbec" "fuerzablanco" "porvenir";
    row-gap: 50px;
    justify-content: center;
    align-content: center;
    justify-items:center;
    align-items:center;
    
  }
  .gridGaseosas {
    display: grid;
    margin-top: 50px;
    padding: 20px 20px 20px 20px;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "titulov" "comahuemalbec" "fuerzablanco" "porvenir";
    row-gap: 50px;
    justify-content: center;
    align-content: center;
    justify-items:center;
    align-items:center;
    
  }
  .gridAlcohol {
    display: grid;
    margin-top: 50px;
    padding: 20px 20px 20px 20px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "tituloA" "aperol" "cynar" "gina";
    row-gap: 50px;
    justify-content: center;
    align-content: center;
    justify-items:center;
    align-items:center;
    
  }
  
  /* hasta aca media queris productos*/
  
  /*media queris promo*/
  .gridPromo{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "tituloP" "promo1";
    row-gap: 10px;
    justify-content: center;
    align-content: center;
    justify-items:center;
    align-items:center;
  }
 
  /*hasta aca media queris promo*/
  
  
  /*media queris combos*/
  
  .gridCombo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
   grid-template-areas: "tituloC" "combo1";
   justify-content: center;
   align-content: center;
   justify-items:center;
   align-items:center;
      
   }

   /*hasta aca media queris combos*/
  
  /*Media queris form*/

  .gridForm{
    display: grid;
    margin: 0px auto;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: center;
    justify-items: center;
    background-color: $colorPrincipal;
    grid-template-columns: auto;
    grid-template-rows: "auto auto auto auto" "auto";
    grid-template-areas: "p1" "p2" "p3" "p4" "logo";
    border: 1px dotted black;
  }
  .mapa{
    width: 90%;
    height: 90%;
  }
  /*Hasta aca media queris form*/
} 
     
  @media screen and (min-width: 1200px){
    /* media queris index*/ 
  
    .hola1{
      width: 33%;
    }
    .hola2, .hola3{
      display: inline-block;
      }
  
    .gridOfertas {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "tituloO tituloO tituloO" "cerveza fernet vino";
      justify-content: space-evenly;
      justify-items: center;
      text-align: center; 
    
    }
  
    /*hasta aca media queris index*/
    
    /* media queris productos*/
    .gridAndes {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "titulo titulo titulo" "andesipa andesrubia andesroja";
      justify-items: center;
      align-items: center;
  
      }
  
      .gridVinos {
        display: grid;
        margin-top: 50px;
        padding: 20px 20px 20px 20px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "titulov titulov titulov" "comahuemalbec comahuemerlot comauhuesauv" "fuerzablanco fuerzaprim chakana" "porvenir criosr criost";
        row-gap: 50px;
        justify-content: center;
        align-content: center;
        justify-items:center;
        align-items:center;
        
      }
  
      .gridGaseosas {
        display: grid;
        margin-top: 50px;
        padding: 20px 20px 20px 20px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "titulov titulov titulov" "comahuemalbec comahuemerlot comauhuesauv" "fuerzablanco fuerzaprim chakana" "porvenir criosr criost";
        row-gap: 50px;
        justify-content: center;
        align-content: center;
        justify-items:center;
        align-items:center;
        
      }
      .gridAlcohol {
        display: grid;
        margin-top: 50px;
        padding: 20px 20px 20px 20px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "tituloA tituloA tituloA" "aperol campari carpano" "cynar fernetl whisky" "gina merle vodka";
        row-gap: 50px;
        justify-content: center;
        align-content: center;
        justify-items:center;
        align-items:center;
        
      }
  
    /*hasta aca media queris productos*/

      /*Media queris promos*/
      .gridPromo{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "tituloP tituloP tituloP" "promo1 promo2 promo3";
        justify-content: center;
        align-content: center;
        justify-items:center;
        align-items:center;
      }
      /*Hasta aca media queris promos*/
  
    /*media queris combos*/
  
    .gridCombo {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
     grid-template-areas: "tituloC tituloC tituloC" "combo1 combo2 combo3";
     justify-content: center;
     align-content: center;
     justify-items:center;
     align-items:center;
        
     }
    /*hasta aca media queris combos*/
    
    /*Media queris form*/
    .gridForm{
      display: grid;
      width: 50%;
      margin: 0px auto;
      justify-content: center;
      justify-items: center;
      background-color: $colorPrincipal;
      grid-template-columns: auto;
      grid-template-rows: "auto auto auto auto" "auto";
      grid-template-areas: "p1" "p2" "p3" "p4" "logo";
      border: 1px dotted black;
      border-radius: 10px;
      
    }
     
    .mapa{
      width: 50%;
      display: flex;
      margin: 40px auto;
    }
   /*hasta aca media queris form*/
  }
  